$aplus-white: #f7eae4;
$aplus-orange: #ff5833;
$aplus-blue: #0066cc;
$aplus-red: #ff3333;
$aplus-green: #66cc33;
$aplus-blue-purple: #9999ff;
$aplus-peach-orange: #ffd090;
$aplus-pale-magenta: #ff99cc;
$aplus-columbia-blue: #c2e0e0;

