@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-SemiBoldItalic.woff2')
        format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';

    src: url('/theme_aplus/static/src/fonts/Gooper-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gooper';
    src: url('/theme_aplus/static/src/fonts/Gooper-RegularItalic.woff2')
        format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
