@use "./aplus_colors.scss";
@use "./fonts";



// Shopping Cart modifications
// Remove the background on header buttons
.o_navlink_background {
    background: #00000000;

    &:hover {
        background: #00000000;
    }
}

.reversed{
    transform: scaleX(-1);
}

.shake-on-hover:hover {
    animation-name: bob;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }


  @keyframes bob {
    from { transform: translateY(0) rotate(0deg); }
    to   { transform: translateY(-4px) rotate(-1deg); } /* Added a small rotation here */
  }
