@use "./aplus_colors.scss";
@use "./fonts";
@use "./aurabora_theme" as ab;

// Navigation Styles
.o_navlink_background {
    background: transparent;

    &:hover {
        background: transparent;
    }
}

.heading-outline {
    -webkit-text-stroke-color: red;
    -webkit-text-stroke-width: 1px;

    align-content: center;
    height: 100%;

    text-transform: uppercase;

    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.5rem;
        font-style: italic;
    }
}

// Transform Utilities
.reversed {
    scale: -1 1;
}

// Animation Utilities
.shake-on-hover:hover {
    animation: bob 0.6s infinite alternate;
}

@keyframes bob {
    from {
        transform: translateY(0) rotate(0deg);
    }
    to {
        transform: translateY(-4px) rotate(-1deg);
    }
}

.align-middle {
    vertical-align: baseline !important;
}
