.oe_website_sale {
    .recipe-icons {
        width: 100px;
        height: 100px;
    }
    .recipe-icons-plus {
        width: 20px;
        height: 20px;
    }

    .ingredients-block {
        padding-left: 0.3rem;
        .ingredient-list {
            margin-bottom: 0px !important;
            p {
                margin-bottom: 0px !important;
            }
        }
    }

    @media (max-width: 767.98px) {
        .recipe-icons {
            width: 50px;
            height: 50px;
        }
        .recipe-icons-plus {
            width: 5px;
            height: 5px;
        }
    }
    path {
        fill-rule: nonzero;
    }

    .breadcrumb-item {
        a {
            color: inherit;
        }
    }

    .related-product-header {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
        font-weight: bolder;
    }

    .related-product-header::after {
        content: " ";
        flex: 1;
        height: 2px;
        margin-left: 1.4rem;
        border-bottom: 1px solid var(--o-border-color);
    }
}

// .form-check-input {
//     &:checked {
//         background-color: var(--product-page-highlight-color, var(--o-cc1-link));
//         border-color: var(--product-page-highlight-color, var(--o-cc1-link));
//     }
//     &:hover {
//         border-color: var(--product-page-highlight-color, var(--o-cc1-link));
//     }
//     &focus {
//         border-color: var(--product-page-highlight-color, var(--o-cc1-link));
//     }
// }
