.oe_website_sale {
    .icon-block {
        fill: var(--highlight-color, var(--o-color-1));
    }
    .recipe-icons {
        width: 100px;
        height: 100px;
    }
    .recipe-icons-plus {
        width: 20px;
        height: 20px;
    }

    .ingredients-block {
        padding-left: 0.3rem;
        .ingredient-list {
            margin-bottom: 0px !important;
            p {
                margin-bottom: 0px !important;
            }
        }
    }

    @media (max-width: 1210px) {
        .extra-icons {
            justify-content: start;
        }
        .recipe-icons {
            width: 75px;
            height: 75px;
        }
        .recipe-icons-plus {
            width: 15px;
            height: 15px;
        }
    }
    @media (max-width: 990px) {
        .extra-icons {
            justify-content: center;
        }
        .recipe-icons {
            width: 100px;
            height: 100px;
        }
        .recipe-icons-plus {
            width: 20px;
            height: 20px;
        }
    }
    @media (max-width: 490px) {
        .recipe-icons {
            width: 75px;
            height: 75px;
        }
        .recipe-icons-plus {
            width: 15px;
            height: 15px;
        }
    }
    path {
        fill-rule: nonzero;
    }

    .subsection-header {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        text-transform: uppercase;
        //padding-bottom: 0.5rem;
        font-weight: bolder;
    }
    .subsection-header::after {
        content: " ";
        flex: 1;
        height: 2px;
        margin-left: 1rem;
        border-bottom: 1px solid var(--o-border-color);
    }

    .related-flavors-block {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;

        .related-flavors {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;
            overflow-wrap: break-word;
            line-height: 1;

            .related-flavor {
                max-width: 80px;
                text-align: center;
                font-size: 0.9rem;
                .related-flavor-image {
                    height: 80px;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .o_searchbar_form {
        .input-group {
            border-color: var(--highlight-color, var(--o-color-1)) !important;
            .oe_search_button {
                border-color: var(--highlight-color, var(--o-color-1)) !important;
                background-color: var(--highlight-color, var(--o-color-1)) !important;
            }
        }
    }
    #product_details {
        h1 {
            color: var(--highlight-color, var(--o-color-1)) !important;
        }
    }

    .oe_price {
        color: var(--highlight-color, var(--o-color-1)) !important;
    }
    #o_wsale_cta_wrapper {
        .css_quantity {
            border-color: var(--highlight-color, var(--o-color-1)) !important;

            .fa-plus,
            .fa-minus {
                color: var(--highlight-color, var(--o-color-1)) !important;
            }
        }
        #add_to_cart {
            background-color: var(--highlight-color, var(--o-color-1)) !important;
            border-color: var(--highlight-color, var(--o-color-1)) !important;
        }
    }
    .breadcrumb-item {
        color: var(--highlight-color, var(--o-color-1)) !important;
        a {
            color: inherit;
        }
    }
    input.form-check-input {
        &:checked {
            background-color: var(--highlight-color, var(--o-color-1)) !important;
            border-color: var(--highlight-color, var(--o-color-1)) !important;
        }
        &:hover {
            border-color: var(--highlight-color, var(--o-color-1)) !important;
        }
    }
}
