.hero-background {
    // height: 100vh;
    // position: absolute;
    // top: 0;
    // left: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;

    background-color: bisque;
}

.hero-sticker {
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    max-width: 256px;
    max-height: 256px;
    background-color: #ffffff00;
}

.s_window_carousel {
    overflow: hidden;
    min-height: 50vh;

    .shop-now {
        margin-left: auto;
        margin-right: auto;
        // padding-top: 0rem;
        // padding-bottom: 1rem;

        padding-top: 1rem;
        padding-bottom: 0rem;
        -webkit-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;

        .shop-now-button {
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: bold;
            border: 1px solid black;
            border-radius: 20px; /* Rounded pill shape */
            -webkit-transition: background-color 0.5s ease-in-out,
                border-color 0.5s ease-in-out;
            transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
            &:hover {
                transition: background-color 0.3s ease-in-out,
                    border-color 0.3s ease-in-out;
            }
        }
    }

    .dynamic_snippet_template {
        height: 100%;
        overflow: hidden;
    }

    // A+ Dynamic Product Carousel - Basic Styles
    .carousel_container {
        justify-content: center;
        // For window-style carousel
        // width: 380px;
        // min-height: 450px;
        // max-height: 510px;

        // for oval carousel

        width: 280px;
        min-height: 360px;
        //max-height: 510px;

        display: flex;

        .aplus_carousel {
            position: relative;
            flex-grow: 1;
            width: 100%;
            height: 100%;
            border-width: 1px;

            // For window-style carousel
            // border-color: black;
            // border-style: solid;
            // border-bottom-left-radius: 50px;
            // border-bottom-right-radius: 50px;
            // border-top-left-radius: 500px;
            // border-top-right-radius: 500px;
            // vertical-align: bottom;
            // justify-content: flex-end;
            //filter: drop-shadow(7px 7px 0px #000000);

            // For oval carousel
            border-top-left-radius: 500px;
            border-top-right-radius: 500px;
            border-bottom-left-radius: 500px;
            border-bottom-right-radius: 500px;

            overflow-x: hidden;
            margin: auto;

            vertical-align: center;
            display: flex;
            flex-direction: column;
            //justify-content: flex-end;

            background-color: #f7f9fc;

            // Carousel Inner
            .carousel-inner {
                //border-radius: 12px;
                //padding-bottom: 0rem;
                //overflow: visible;
                width: 100%;

                .carousel-item {
                    text-align: center;
                    position: relative;
                    //align-items: end;
                    height: 100%;

                    .carousel-content {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        height: 100%;
                        justify-content: center;
                        align-items: center;

                        .arc-text {
                            padding-left: 10px;
                            padding-right: 10px;
                            position: absolute;
                            top: -10px;
                            width: 100%;

                            .title-text {
                                font-size: 1.8rem;
                                font-weight: 800;
                                text-transform: uppercase;
                                letter-spacing: 3px;
                                -webkit-text-stroke-color: black;
                                -webkit-text-stroke-width: 2px;
                            }
                        }

                        .product-image {
                            //margin-bottom: -2.5rem;
                            &:hover {
                                transform: scale(1.02);
                            }
                        }

                        & > * {
                            max-width: 100%;
                        }

                        img {
                            max-height: 300px;
                            width: auto;
                            border-radius: 8px;

                            animation: wiggle 3s infinite;

                            @keyframes wiggle {
                                0% {
                                    transform: rotate(20deg);
                                }

                                50% {
                                    transform: rotate(-20deg);
                                }

                                100% {
                                    transform: rotate(20deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        // Responsive Adjustments
        @media (max-width: 768px) {
            .aplus_carousel {
                .carousel-inner {
                    .carousel-item {
                        padding: 1rem;

                        h3 {
                            font-size: 1.5rem;
                        }

                        img {
                            max-height: 200px;
                        }
                    }
                }

                .carousel-control-prev,
                .carousel-control-next {
                    width: 40px;
                    height: 40px;
                    color: #ff6b6b;
                }
            }
        }
    }

    .active {
        opacity: 100%;
    }

    .inactive {
        opacity: 0%;
    }

    .hero-text {
        color: #ff00ff;
        font-size: 10rem;
        font-weight: bold;
        // text-align: center;
        // text-shadow: 6px 6px 0px black;
        // text-shadow: 1px 1px 1px black;
        // -webkit-text-stroke: 1px black;
        text-wrap: wrap;
        line-height: 0.8;
        -webkit-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
    }

    @media (max-width: 1920px) {
        .hero-text {
            font-size: 10rem;
        }
    }
    @media (max-width: 1500px) {
        .hero-text {
            font-size: 6rem;
        }
    }
    @media (max-width: 1210px) {
        .hero-text {
            font-size: 6rem;
        }
    }
    @media (max-width: 1050px) {
        .hero-text {
            font-size: 5rem;
        }
    }
    @media (max-width: 989px) {
        .hero-text {
            //padding-top: 3rem;
            font-size: 5rem;
            text-shadow: 3px 3px 0px black;
        }
    }
    @media (max-width: 787px) {
        .hero-text {
            font-size: 3rem;
            text-shadow: 3px 3px 0px black;
        }
    }

    .container-fluid {
        padding: 0px !important;
    }
}
@media (max-width: 767.98px) {
    .row {
        .d-flex {
            justify-content: center;
        }
    }
}
