<tr>
  <td
    style="margin: 0; padding: 0; width: 100%; height: 100%"
    align="center"
    valign="top"
  >
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td
            style="
              width: 600px;
              min-width: 600px;
              font-size: 0;
              line-height: 0;
              padding: 0;
              margin: 0;
              font-weight: normal;
            "
          >
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td bgcolor="#fff">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td
                            background="https://ci3.googleusercontent.com/meips/ADKq_NYpJoEdhA6xDm5W8hJ_OrOTrvB4LJbrp9lgMba_zCFzFTkmLlx0ZUI_VkafYkkx6AQN0oGOjxTmxadBc3rPoarxrs6lwSPe6uQJIpOGS4T4DKd-bk_sm7-Lldc678g1SOP7R1oUqGBlV8pKbMTaTBpXiR64QxNNEQ3tC8cw_lY=s0-d-e1-ft#https://littlespoon-api.s3.amazonaws.com/emails/images/all-new/order-confirmation-all-weekend-billing.jpg"
                            bgcolor="#bff391"
                            valign="top"
                            height="585"
                            style="
                              background-size: cover;
                              background-position: left center;
                              background-repeat: no-repeat;
                            "
                          >
                            <div>
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      width="50"
                                      style="
                                        font-size: 0;
                                        line-height: 0;
                                        text-align: left;
                                      "
                                    ></td>
                                    <td
                                      valign="top"
                                      height="485"
                                      style="padding-bottom: 100px"
                                    >
                                      <table
                                        width="100%"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              style="
                                                font-size: 0;
                                                line-height: 0;
                                                text-align: left;
                                                padding-top: 40px;
                                                padding-bottom: 40px;
                                              "
                                            >
                                              <a
                                                href="https://clicks.littlespoon.com/f/a/aambH7--pRO7iLLsDI_QMg~~/AAQRxRA~/Cu7TAUbUcq0Sbd1TR-lx1iIhVcYzPbmAwZICv0_E9lAgcNPYHomkJoNBPL_8yWmcfY6qeF6voNSSXxIKPQM1gfMxprikQQxNwAAQUrFvRMTIS3-rvNIQHD5EMmqQ9mH8"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://clicks.littlespoon.com/f/a/aambH7--pRO7iLLsDI_QMg~~/AAQRxRA~/Cu7TAUbUcq0Sbd1TR-lx1iIhVcYzPbmAwZICv0_E9lAgcNPYHomkJoNBPL_8yWmcfY6qeF6voNSSXxIKPQM1gfMxprikQQxNwAAQUrFvRMTIS3-rvNIQHD5EMmqQ9mH8&amp;source=gmail&amp;ust=1757529181071000&amp;usg=AOvVaw0N2mo2V7_9o6R2Hu3Ntv1q"
                                              >
                                                <img
                                                  src="https://ci3.googleusercontent.com/meips/ADKq_Nafo-FqI9zMlpvoilDjwaTYnbDvfJyrJzoMm6G9mD_iuwuwO3SCdfdtJ70TASx2xfR0cx8Caugmd5RZfcxjwFko75SaCmGFX-B1MG0xWEkhFS3t6hBgJa5BIBzcvGwMWjB05yJ4Ew=s0-d-e1-ft#https://s3.amazonaws.com/littlespoon-api/emails/images/rebrand/logo_ls_black.png"
                                                  width="150"
                                                  height="41"
                                                  border="0"
                                                  alt="Little Spoon"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                />
                                              </a>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="
                                                color: #141414;
                                                text-align: left;
                                                font-size: 40px;
                                                line-height: 48px;
                                                font-family: Mulish, Arial, sans-serif;
                                                padding-bottom: 15px;
                                              "
                                            >
                                              <strong style="font-weight: 900">
                                                Be ready
                                                <br />
                                                to be IMpressed.
                                              </strong>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="
                                                font-size: 24px;
                                                line-height: 30px;
                                                color: #141414;
                                                font-family: Lato, Arial, sans-serif;
                                                text-align: left;
                                              "
                                            >
                                              <strong>
                                                We're bringing
                                                <br />
                                                you the freshest,
                                                <br />
                                                healthiest meals
                                                <br />
                                                + snacks for your
                                                <br />
                                                little one.
                                              </strong>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td
                                      width="300"
                                      style="
                                        font-size: 0;
                                        line-height: 0;
                                        text-align: left;
                                      "
                                    ></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td
                            style="
                              padding-left: 50px;
                              padding-right: 50px;
                              padding-bottom: 50px;
                            "
                          >
                            <table
                              width="100%"
                              border="0"
                              cellspacing="0"
                              cellpadding="0"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    bgcolor="#fff"
                                    style="
                                      border: 3px solid #fc1717;
                                      padding: 50px;
                                      border-radius: 10px;
                                    "
                                  >
                                    <table
                                      width="100%"
                                      border="0"
                                      cellspacing="0"
                                      cellpadding="0"
                                    >
                                      <tbody>
                                        <tr>
                                          <td
                                            style="
                                              font-size: 24px;
                                              line-height: 30px;
                                              color: #141414;
                                              font-family: Lato, Arial, sans-serif;
                                              text-align: left;
                                              letter-spacing: 1px;
                                              text-transform: uppercase;
                                              padding-bottom: 5px;
                                            "
                                          >
                                            <strong style="font-weight: 900">
                                              Ralph's DELIVERY
                                            </strong>
                                          </td>
                                        </tr>

                                        <tr>
                                          <td
                                            style="
                                              font-size: 20px;
                                              line-height: 26px;
                                              font-family: Lato, Arial, sans-serif;
                                              text-align: left;
                                              letter-spacing: 1px;
                                              color: #4d5464;
                                              padding-bottom: 30px;
                                              padding-left: 8px;
                                              text-transform: uppercase;
                                            "
                                          >
                                            <strong>18 Pouches per delivery</strong>
                                          </td>
                                        </tr>

                                        <tr>
                                          <td
                                            style="
                                              border: 1px solid #e0e0e0;
                                              padding: 20px;
                                              border-radius: 10px;
                                            "
                                          >
                                            <table
                                              width="100%"
                                              border="0"
                                              cellspacing="0"
                                              cellpadding="0"
                                            >
                                              <tbody>
                                                <tr>
                                                  <th
                                                    valign="top"
                                                    style="
                                                      font-size: 0;
                                                      line-height: 0;
                                                      padding: 0;
                                                      margin: 0;
                                                      font-weight: normal;
                                                      vertical-align: top;
                                                    "
                                                  >
                                                    <table
                                                      width="100%"
                                                      border="0"
                                                      cellspacing="0"
                                                      cellpadding="0"
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            style="
                                                              font-size: 17px;
                                                              line-height: 23px;
                                                              color: #141414;
                                                              font-family: Lato, Arial,
                                                                sans-serif;
                                                              text-align: left;
                                                              letter-spacing: 1px;
                                                            "
                                                          >
                                                            <strong
                                                              style="font-weight: 800"
                                                            >
                                                              ESTIMATED ARRIVAL:
                                                            </strong>
                                                          </td>
                                                        </tr>
                                                        <tr>
                                                          <td
                                                            style="
                                                              font-size: 15px;
                                                              line-height: 21px;
                                                              font-family: Lato, Arial,
                                                                sans-serif;
                                                              text-align: left;
                                                              color: #4d5464;
                                                              letter-spacing: 1px;
                                                            "
                                                          >
                                                            Delivered every 2 weeks
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </th>
                                                  <th
                                                    valign="top"
                                                    width="20"
                                                    style="
                                                      font-size: 0;
                                                      line-height: 0;
                                                      padding: 0;
                                                      margin: 0;
                                                      font-weight: normal;
                                                      vertical-align: top;
                                                    "
                                                  ></th>
                                                  <th
                                                    valign="top"
                                                    style="
                                                      font-size: 0;
                                                      line-height: 0;
                                                      padding: 0;
                                                      margin: 0;
                                                      font-weight: normal;
                                                      vertical-align: top;
                                                    "
                                                  >
                                                    <table
                                                      width="100%"
                                                      border="0"
                                                      cellspacing="0"
                                                      cellpadding="0"
                                                    >
                                                      <tbody>
                                                        <tr>
                                                          <td
                                                            style="
                                                              font-size: 17px;
                                                              line-height: 23px;
                                                              color: #141414;
                                                              font-family: Lato, Arial,
                                                                sans-serif;
                                                              letter-spacing: 1px;
                                                              text-transform: uppercase;
                                                              text-align: right;
                                                            "
                                                          >
                                                            <strong
                                                              style="font-weight: 900"
                                                            >
                                                              July 1
                                                            </strong>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </th>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td
                                            style="
                                              font-size: 15px;
                                              line-height: 21px;
                                              font-family: Lato, Arial, sans-serif;
                                              text-align: left;
                                              letter-spacing: 1px;
                                              color: #4d5464;
                                              padding-top: 20px;
                                              padding-bottom: 20px;
                                            "
                                          >
                                            <strong>
                                              *You’ll be charged on the Saturday before
                                              your order ships for the contents of your
                                              delivery
                                            </strong>
                                            . You can make changes to your order any
                                            time before 5pm EST on the Saturday before
                                            it ships.
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center">
                                            <table
                                              border="0"
                                              cellspacing="0"
                                              cellpadding="0"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    bgcolor="#000001"
                                                    style="
                                                      font-family: Lato, Arial,
                                                        sans-serif;
                                                      text-align: center;
                                                      font-size: 20px;
                                                      line-height: 24px;
                                                      color: #fff;
                                                      letter-spacing: 2px;
                                                      border-radius: 5px;
                                                    "
                                                  >
                                                    <a
                                                      href="https://clicks.littlespoon.com/f/a/3luvsr9_ykelw8obVbVfsg~~/AAQRxRA~/nAS-6uYJpqwvn4f6XNDO58A32e-pzjOfbBakaew2VVAoCIt0X8StalGOugDpjjQNA1h-0kCn5nqJG2TCms7H2pdFHI5y7pV12IHoEiw0OJ1phoAP6W-nGXTuhSKF3sj1lqmDgN9q-0ErOP6xPhwHHawiIM7jg4LWRdPirCjgJMF0E9FnEAiPrmSJGe-OlgpzkIbKJa0F3rX_sAtUdYmnWUS_IJ-r7yrw7-pFBWfkEutPu3HOl3t9yBkhPPzgBczKPZb8XQK-1gDTuPx4Nxme_T5t-6t1oe-3u047zldHug8AhAiGNLStoUSfWKWdNJI5cwIEtlIjQKcQF4ERwT752jjqYCLzucqZf2vHzWfGonaUj-5eKrmBkHQ1fWOv_QFmYN_y1aJ9w_luuOv5ut0rPejWwd6wg1DdL255-bZRDPEwFiBA70Qom1spUFN5kwWcPtXGG3navdABcXSCmVJCZtwlBZ6KTlVd3oAz_cQfOzwDhKfrck5mBWEkajbzkt_Bqbk2IT27ED-zuJEm95XH2w~~"
                                                      style="
                                                        display: block;
                                                        padding: 15px 30px;
                                                        text-decoration: none;
                                                        color: #fff;
                                                      "
                                                      target="_blank"
                                                      data-saferedirecturl="https://www.google.com/url?q=https://clicks.littlespoon.com/f/a/3luvsr9_ykelw8obVbVfsg~~/AAQRxRA~/nAS-6uYJpqwvn4f6XNDO58A32e-pzjOfbBakaew2VVAoCIt0X8StalGOugDpjjQNA1h-0kCn5nqJG2TCms7H2pdFHI5y7pV12IHoEiw0OJ1phoAP6W-nGXTuhSKF3sj1lqmDgN9q-0ErOP6xPhwHHawiIM7jg4LWRdPirCjgJMF0E9FnEAiPrmSJGe-OlgpzkIbKJa0F3rX_sAtUdYmnWUS_IJ-r7yrw7-pFBWfkEutPu3HOl3t9yBkhPPzgBczKPZb8XQK-1gDTuPx4Nxme_T5t-6t1oe-3u047zldHug8AhAiGNLStoUSfWKWdNJI5cwIEtlIjQKcQF4ERwT752jjqYCLzucqZf2vHzWfGonaUj-5eKrmBkHQ1fWOv_QFmYN_y1aJ9w_luuOv5ut0rPejWwd6wg1DdL255-bZRDPEwFiBA70Qom1spUFN5kwWcPtXGG3navdABcXSCmVJCZtwlBZ6KTlVd3oAz_cQfOzwDhKfrck5mBWEkajbzkt_Bqbk2IT27ED-zuJEm95XH2w~~&amp;source=gmail&amp;ust=1757529181071000&amp;usg=AOvVaw29w5lODLorK5TQ9Tqox63m"
                                                    >
                                                      <span
                                                        style="
                                                          text-decoration: none;
                                                          color: #fff;
                                                        "
                                                      >
                                                        <strong>UPDATE MY ORDER</strong>
                                                      </span>
                                                    </a>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td bgcolor="#c9f099" style="padding: 50px">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td align="center" style="padding-bottom: 15px">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td
                                    bgcolor="#3ad7ca"
                                    style="
                                      font-size: 30px;
                                      line-height: 36px;
                                      color: #fff;
                                      text-align: center;
                                      font-family: 'Palanquin Dark', Arial, sans-serif;
                                      padding: 5px;
                                    "
                                  >
                                    <strong style="font-weight: 500">
                                      We’re really social
                                    </strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td
                                    width="40"
                                    style="
                                      font-size: 0;
                                      line-height: 0;
                                      text-align: left;
                                    "
                                  >
                                    <a
                                      href="https://clicks.littlespoon.com/f/a/1YWVEXbLKHBZSUy3sqzM_A~~/AAQRxRA~/ZYUjnbkiRVcoLRzWLspxvFn0wohpnVJbwiq7VGEOmT8WkmCw7jiEZMK8SbYNKJP5f96c8H6dC5rEtZPQ50t3WsvXGcu0ETmTWLhAy_HQRhLrnJQ3kDcbILXfFuJiRqE3"
                                      target="_blank"
                                      data-saferedirecturl="https://www.google.com/url?q=https://clicks.littlespoon.com/f/a/1YWVEXbLKHBZSUy3sqzM_A~~/AAQRxRA~/ZYUjnbkiRVcoLRzWLspxvFn0wohpnVJbwiq7VGEOmT8WkmCw7jiEZMK8SbYNKJP5f96c8H6dC5rEtZPQ50t3WsvXGcu0ETmTWLhAy_HQRhLrnJQ3kDcbILXfFuJiRqE3&amp;source=gmail&amp;ust=1757529181071000&amp;usg=AOvVaw2DpT0tLxAPgEWcMuy-sQzh"
                                    >
                                      <img
                                        src="https://ci3.googleusercontent.com/meips/ADKq_NYoA3JtHgozHtHzGC59g1J_UWh59aCjYD2AKKq3XwoUpLzNpOKPRrxjuKxdVByovkj4K3HzsRP6ozk3I9_hbW9aCp5TRPLL1k6TFGEi0m8UARwh4MGngU1MQ4ji7FdnJBvMseE=s0-d-e1-ft#https://s3.amazonaws.com/littlespoon-api/emails/images/rebrand/ico_twitter.png"
                                        width="40"
                                        height="40"
                                        border="0"
                                        alt="Twitter"
                                        class="CToWUd"
                                        data-bit="iit"
                                      />
                                    </a>
                                  </td>
                                  <td
                                    width="40"
                                    style="
                                      font-size: 0;
                                      line-height: 0;
                                      text-align: left;
                                    "
                                  ></td>
                                  <td
                                    width="40"
                                    style="
                                      font-size: 0;
                                      line-height: 0;
                                      text-align: left;
                                    "
                                  >
                                    <a
                                      href="https://clicks.littlespoon.com/f/a/bGqWKjq0kRkqDSn8PM8HVw~~/AAQRxRA~/7RxZlw9KHPe8aiyPVK2TZHTkfToLhEafS4krV3BDvYCVa4W8qHAPXVtTdVB9jaPWIWfbPxgx1MOkcHHnf1QZdQYtdPgH_xx5nL3VAt7iYCSZBcryyWlM4hriNxzXg2NxI4doDZgekcfk4JpUezL5Yg~~"
                                      target="_blank"
                                      data-saferedirecturl="https://www.google.com/url?q=https://clicks.littlespoon.com/f/a/bGqWKjq0kRkqDSn8PM8HVw~~/AAQRxRA~/7RxZlw9KHPe8aiyPVK2TZHTkfToLhEafS4krV3BDvYCVa4W8qHAPXVtTdVB9jaPWIWfbPxgx1MOkcHHnf1QZdQYtdPgH_xx5nL3VAt7iYCSZBcryyWlM4hriNxzXg2NxI4doDZgekcfk4JpUezL5Yg~~&amp;source=gmail&amp;ust=1757529181071000&amp;usg=AOvVaw0Ng1tDJs-xh-Rqr9h7ape-"
                                    >
                                      <img
                                        src="https://ci3.googleusercontent.com/meips/ADKq_NbguJN61tDAbEGJie3ANHCQO-4U5axx0laBHYv8j46Sdjix_qZxXsQaGGUb1p69IrRC3XJK85PsUvWg2KOciTXrr0or5MemV3yjAqEbFuKzKtfGEVUZbv1S3CEtCMMfH6LTIOix=s0-d-e1-ft#https://s3.amazonaws.com/littlespoon-api/emails/images/rebrand/ico_facebook.png"
                                        width="40"
                                        height="40"
                                        border="0"
                                        alt="Facebook"
                                        class="CToWUd"
                                        data-bit="iit"
                                      />
                                    </a>
                                  </td>
                                  <td
                                    width="40"
                                    style="
                                      font-size: 0;
                                      line-height: 0;
                                      text-align: left;
                                    "
                                  ></td>
                                  <td
                                    width="40"
                                    style="
                                      font-size: 0;
                                      line-height: 0;
                                      text-align: left;
                                    "
                                  >
                                    <a
                                      href="https://clicks.littlespoon.com/f/a/q8amHNIWDpnB_-5PGVvqVQ~~/AAQRxRA~/cfRCc4BiZceTBoGQoiTeu7T2z7J_jyAcZSQv4VpzhkVtjyouesnFtQhwLZemtIIbc87mOE5auTDmUMfEJwuziHbZ0J0qfFpOuFwzhzeNzMetJSwUqgs74JU8IgfrFGMx"
                                      target="_blank"
                                      data-saferedirecturl="https://www.google.com/url?q=https://clicks.littlespoon.com/f/a/q8amHNIWDpnB_-5PGVvqVQ~~/AAQRxRA~/cfRCc4BiZceTBoGQoiTeu7T2z7J_jyAcZSQv4VpzhkVtjyouesnFtQhwLZemtIIbc87mOE5auTDmUMfEJwuziHbZ0J0qfFpOuFwzhzeNzMetJSwUqgs74JU8IgfrFGMx&amp;source=gmail&amp;ust=1757529181071000&amp;usg=AOvVaw0u6O76FL2qZJckaqZ30CZa"
                                    >
                                      <img
                                        src="https://ci3.googleusercontent.com/meips/ADKq_NZ1lxywCfhIqX1Ns7jm3gwbQrU7e_MLlxqXnIej1qoF3mthasELtS9i_55H_QRnZat7vFooTjza6cN2ZS3usTFOB1mWOCyJpaoYuO26cWFPDj9tIOtsZStLuBXUFGw900pNlWZikw=s0-d-e1-ft#https://s3.amazonaws.com/littlespoon-api/emails/images/rebrand/ico_instagram.png"
                                        width="40"
                                        height="40"
                                        border="0"
                                        alt="Instagram"
                                        class="CToWUd"
                                        data-bit="iit"
                                      />
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td bgcolor="#f6f8fd" style="padding: 50px">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td
                            style="
                              font-size: 0;
                              line-height: 0;
                              text-align: center;
                              padding-bottom: 15px;
                            "
                          >
                            <a
                              href="https://clicks.littlespoon.com/f/a/aambH7--pRO7iLLsDI_QMg~~/AAQRxRA~/Cu7TAUbUcq0Sbd1TR-lx1iIhVcYzPbmAwZICv0_E9lAgcNPYHomkJoNBPL_8yWmcfY6qeF6voNSSXxIKPQM1gfMxprikQQxNwAAQUrFvRMTIS3-rvNIQHD5EMmqQ9mH8"
                              target="_blank"
                              data-saferedirecturl="https://www.google.com/url?q=https://clicks.littlespoon.com/f/a/aambH7--pRO7iLLsDI_QMg~~/AAQRxRA~/Cu7TAUbUcq0Sbd1TR-lx1iIhVcYzPbmAwZICv0_E9lAgcNPYHomkJoNBPL_8yWmcfY6qeF6voNSSXxIKPQM1gfMxprikQQxNwAAQUrFvRMTIS3-rvNIQHD5EMmqQ9mH8&amp;source=gmail&amp;ust=1757529181071000&amp;usg=AOvVaw0N2mo2V7_9o6R2Hu3Ntv1q"
                            >
                              <img
                                src="https://ci3.googleusercontent.com/meips/ADKq_NaruHaxYuWSQJEE5NR5rx9jW3yDBe-mjVYtsG-GnO24DJpxw4L8FcTC5_FzJs_TV06Boi_VDJdRmnbypV-gp5lATNZtjpXvJxBHxz_eCTVu2XCAljpt4mhD-wOQtascpaA94pWx=s0-d-e1-ft#https://s3.amazonaws.com/littlespoon-api/emails/images/rebrand/logo_ls_grey.png"
                                width="200"
                                height="55"
                                border="0"
                                alt="Little Spoon"
                                class="CToWUd"
                                data-bit="iit"
                              />
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              font-size: 22px;
                              line-height: 28px;
                              text-align: center;
                              color: #4d5464;
                              font-family: 'Palanquin Dark', Arial, sans-serif;
                              padding-bottom: 20px;
                            "
                          >
                            <strong style="font-weight: 500">
                              Questions? Or just need someone to talk&nbsp;to?
                              <br />
                              We’re here for&nbsp;you.
                            </strong>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              font-size: 18px;
                              font-family: Lato, Arial, sans-serif;
                              line-height: 28px;
                              color: #4d5464;
                              text-align: center;
                              padding-bottom: 50px;
                            "
                          >
                            Email us at
                            <a
                              href="mailto:care@littlespoon.com"
                              style="text-decoration: underline; color: #4d5464"
                              target="_blank"
                            >
                              <span style="text-decoration: underline; color: #4d5464">
                                care@littlespoon.com
                              </span>
                            </a>
                            <br />
                            Text us at
                            <a
                              href="tel:+14158554155"
                              style="text-decoration: underline; color: #4d5464"
                              target="_blank"
                            >
                              <span style="text-decoration: underline; color: #4d5464">
                                415.855.4155
                              </span>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
