.s_image_marquee {
    .marquee_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .marquee {
        width: 100%;
        height: 100%;
        overflow: visible;
        //display: flex; /* Crucial: Lays the two inner blocks side-by-side */

        .marquee-inner {
            //flex-shrink: 0;
            white-space: nowrap;
            width: max-content;

            height: 100%;
            display: flex;

            animation: translateMarquee var(--marquee-duration) linear infinite;
            gap: 20px;

            img {
                max-width: 100%;
                height: auto;
                display: block;
                border-radius: 1.25rem;

                //flex-shrink: 0;
                //margin-right: 15px;
                //transform: translateZ(0);
            }
        }
    }
    @keyframes translateMarquee {
        0% {
            transform: translateX(0);
        }
        100% {
            /* This is correct for the two-block setup */
            transform: translateX(-50%);
        }
    }
}

.marquee-inner,
.marquee-clone {
    body.editor_enable & {
        /* Set animation play state to paused to stop the scroll */
        animation-play-state: paused;

        /* Reset transform to ensure it doesn't start halfway through */
        transform: translateX(0) !important;
    }
}
